<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo list app</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css" />
</head>

<body>
    

    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Todo list</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'principal' %}">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container d-flex justify-content-between align-items-center mt-5">
        <div class="col-lg-4">
            <div class="card rounded bg-primary text-white">
                <div class="card-header text-center h1 mt-3">Todo List</div>
                <div class="card-body">
                    <form id="form-todo" action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group mt-3">
                            <input type="text" id="idT" name="idT" class="form-control" style="display: none;" />
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" id="taskN" name="task" placeholder="Task" class="form-control" />
                        </div>
                        <div class="form-group mt-3">
                            <textarea name="description" id="description" cols="30" rows="10" class="form-control"
                            placeholder="Description"></textarea>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" name="idUser" class="form-control" style="display: none;" value="{{ user.id }}">
                        </div>
                        <input type="submit" class="btn btn-success form-control mt-3" id="btn-save" value="Save" />
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th class="text-center" colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <th class="tId d-none" scope="row">{{ task.id_task }}</th>
                        <td class="tName">{{ task.task_name }}</td>
                        <td class="tDesc">{{ task.desc_task }}</td>
                        <td>
                            <input type="button" class="btn btn-info upd" value="Update">
                        </td>
                        <td>
                            <a type="button" href="/deleteTask/{{ task.id_task }}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Todo list</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'register' %}">Sign up
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">Log in</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <p class="h1">You are not logged in</p>
    {% endif %}

    <script>
        let btnsUpdate = document.querySelectorAll('.upd');
        let btnsDelete = document.querySelectorAll('.del');

        let btnSave = document.querySelector('#btn-save');
        let txtId = document.querySelector('#idT');
        let txtName = document.querySelector('#taskN');
        let txtDesc = document.querySelector('#description');
        let form_save = document.querySelector('#form-todo');
        let tId = document.querySelectorAll('.tId');
        let tName = document.querySelectorAll('.tName');
        let tDesc = document.querySelectorAll('.tDesc');

        for(let i = 0; i < btnsUpdate.length; i++) {
            btnsUpdate[i].addEventListener('click', function(e) {
                    btnSave.setAttribute('value', 'Update');
                    form_save.setAttribute('action', 'updateTask');
                    txtId.value = tId[i].innerHTML;
                    txtName.value = tName[i].innerHTML;
                    txtDesc.value = tDesc[i].innerHTML;
                    e.preventDefault();
                }
            );
        }
    </script>
</body>
</html>